extends ../layout
include ../mixins/header

block header
  +header('Albums')
block main
  main.main
    .main__container
      ul.albums
        li.albums__item
          a.albums__link(href='page-in-progress.html')
            img.albums__img(src='img/album_thumb_neverending-story.jpg' alt='' width='200' height='200')
          h3.albums__author Perforated cerebral party
          h2.albums__title Neverendingstory
        li.albums__item
          a.albums__link(href='page-in-progress.html')
            img.albums__img(src='img/album_thumb_eat-my-face.jpg' alt='' width='200' height='200')
          h3.albums__author Aedem
          h2.albums__title Eat my face
        li.albums__item
          a.albums__link(href='page-in-progress.html')
            img.albums__img(src='img/album_thumb_escape.jpg' alt='' width='200' height='200')
          h3.albums__author Dubsane
          h2.albums__title Escape
        li.albums__item
          a.albums__link(href='page-in-progress.html')
            img.albums__img(src='img/album_thumb_hidden-by-the-leaves.jpg' alt='' width='200' height='200')
          h3.albums__author Primary substance
          h2.albums__title Hidden by the leaves
        li.albums__item
          a.albums__link(href='page-in-progress.html')
            img.albums__img(src='img/album_thumb_luna.jpg' alt='' width='200' height='200')
          h3.albums__author NPLM
          h2.albums__title Luna
        li.albums__item
          a.albums__link(href='page-in-progress.html')
            img.albums__img(src='img/album_thumb_mashapov.jpg' alt='' width='200' height='200')
          h3.albums__author Kashapov
          h2.albums__title Mashapov
        li.albums__item
          a.albums__link(href='page-in-progress.html')
            img.albums__img(src='img/album_thumb_raver-baby.jpg' alt='' width='200' height='200')
          h3.albums__author Aedem
          h2.albums__title Raver baby
        li.albums__item
          a.albums__link(href='page-in-progress.html')
            img.albums__img(src='img/album_thumb_dissocination.jpg' alt='' width='200' height='200')
          h3.albums__author Doqta
          h2.albums__title Dissocination
        li.albums__item
          a.albums__link(href='page-in-progress.html')
            img.albums__img(src='img/album_thumb_dlya-orgij-i-horovodov.jpg' alt='' width='200' height='199')
          h3.albums__author Lem&times;Bro
          h2.albums__title &Dcy;&lcy;&yacy; &ocy;&rcy;&gcy;&icy;&jcy; &icy; &khcy;&ocy;&rcy;&ocy;&vcy;&ocy;&dcy;&ocy;&vcy;
        li.albums__item
          a.albums__link(href='page-in-progress.html')
            img.albums__img(src='img/album_thumb_pcp-remixes.jpg' alt='' width='200' height='200')
          h3.albums__author Perforated cerebral party
          h2.albums__title Remixes

