$transparent-background: rgba($color-black, 0.55);

.album {
  @include clear-fix;

  padding: 0;
  margin: 0 0 20px;
  list-style: none;

  background-color: $transparent-background;
  color: $color-white;
}

.album__nickname {
  display: inline-block;

  font-size: 34px;
  padding: 10px;
  margin: 0;

  @media screen and (min-width: $mobile-breakpoint) {
    padding-left: 0;
  }
}

.album__img {
  float: left;

  padding: 10px;
  width: 300px;
  height: 400px;
}

.album__name {
  font-size: 34px;
  padding: 10px;
  margin: 0;
}

.album__social {
  padding: 10px;
  display: flex;
  justify-content: space-between;

  width: 300px;

  flex-flow: row nowrap;
}

.album__social-link {
  padding: 12px 14px 8px;

  border: {
    width: medium;

    color: $color-white-black;

    radius: 90%;
    style: solid;
  }

  svg {
    fill: $color-white;
  }
}

.album__info {
  font-size: 20px;
  padding: 10px;
  margin: 0;
}

.album__albums {
  margin-top: 40px;
}
