$transparent-background: rgba($color-black, 0.55);

.album {
  @include clear-fix;

  padding: 0;
  margin: 0 0 20px;
  list-style: none;

  background-color: $transparent-background;
  color: $color-white;
}

.album__name {
  display: inline-block;

  font-size: 34px;
  padding: 10px;
  margin: 0;

  @media screen and (min-width: $mobile-breakpoint) {
    padding-left: 0;
  }
}

.album__img {
  float: left;

  padding: 10px;
  width: 300px;
  height: 300px;
}

.album__author {
  font-size: 34px;
  padding: 10px;
  margin: 0;
}

.album__release-date {
  font-size: 34px;
  padding: 10px;
  margin: 0;
}

.album__social {
  padding: 10px;
  display: flex;
  justify-content: space-between;

  width: 160px;

  flex-flow: row nowrap;
}
