$transparent-background: rgba($color-black, 0.55);

.artist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 20px;
  list-style: none;

  background-color: $transparent-background;
  color: $color-white;
}

.artist__title {
  font-size: 16px;
  padding: 5px;
  margin-bottom: 0;
}

.artist__img {
  width: 400px;
  height: 600px;
}

.artist__social {
  display: flex;
  justify-content: space-between;

  width: 178px;

  flex-flow: row nowrap;
}

.artist__social-link {
  padding: 8px 14px;

  border: {
    width: medium;

    color: $color-white-black;

    radius: 90%;
    style: solid;
  }

  svg {
    fill: $color-white;
  }
}

.artist__info {
  font-size: 16px;
  padding: 5px;
  margin-bottom: 0;
}

.artist__albums {
  margin-top: 40px;
}
