.header {
  background-color: $color-black;
  min-width: 85px;
}

.header__container {
  @include container;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (min-width: $big-mobile-breakpoint) {
    flex-direction: row;
  }
}

.header__logo {
  position: relative;
  z-index: 1;
  top: 20px;
  margin-right: 75px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
}

@media screen and (min-width: $big-mobile-breakpoint) {
  .header__container {
    flex-wrap: nowrap;
  }
}
