.header {
  background-color: $color-black;
  min-width: 85px;
}

.header__container {
  @include container;
  display: flex;
  flex-direction: row;
}

.header__logo {
  margin-right: 75px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  z-index: 1;

  img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
}
