.logos {
  margin-right: 75px;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}

.logos__img {
  width: 80px;
  margin-right: 10px;
}
