.main {
  background-image: url("../img/pattern-4.jpg");
  background-position: top right;
  background-repeat: repeat;
  padding-top: 80px;
  min-height: calc(100vh - 65px);
  // margin-top: -20px;
  position: relative;
  top: -20px;
}

.main__container {
  @include container;
}
