.main-nav {
	padding-top: 20px;
}

.main-nav__list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
	margin-bottom: 20px;
}

.main-nav__item {
	margin-right: 10px;
	margin-bottom: 10px;

	&:last-child a {
		text-transform: none;
	}
}

.main-nav__link {
	text-transform: uppercase;
	text-decoration: none;
	color: $color-black;
	padding: 5px 5px 3px;

	&:hover {
		background-color: $color-black;
		color: $color-white;
	}
}
