.main {
  padding-top: 30px;
  position: relative;
}

.main__container {
  @include container;
}

@media screen and (min-width: $tablet-breakpoint) {
  .main {
    padding-top: 40px;
  }

  .main__title {
    display: inline-block;
    text-align-last: left;
  }
}
