.navigation {
  display: block;
  padding-top: 10px;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 0;
  overflow: hidden;
  margin: 0;
  list-style: none;
  padding: 0 0 10px;

  &--open {
    max-height: 100vh;
    padding: 0;
  }
}


.navigation__item {
  width: 100%;
  margin: 5px 10px 5px 0;

  font-size: 28px;
}

.navigation__link {
  padding: 0 5px;

  text-transform: uppercase;
  text-decoration: none;
  color: $color-white-black;

  &:hover {
    background-color: $color-black;
    color: $color-white;
  }
}

.navigation__button {
  position: absolute;
  top: 51px;
  right: 30px;
  width: 40px;
  height: 3px;
  background: $color-white;
  font-size: 0;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 40px;
    height: 3px;
    background: $color-white;
  }

  &::before {
    top: -10px;
  }

  &::after {
    bottom: -10px;
  }

  &--open {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}


@media screen and (min-width: $big-mobile-breakpoint) {
  .navigation__list {
    flex-direction: row;
    max-height: 200px;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .navigation {
    padding-top: 20px;
    margin-bottom: 15px;
  }

  .navigation__list {
    max-height: 200px;
  }

  .navigation__item {
    width: auto;
  }

  .navigation__button {
    display: none;
  }
}
