.navigation {
  display: block;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 0;
  overflow: hidden;
  margin: 0;
  list-style: none;

  &--open,
  &--nojs {
    max-height: 100vh;
    padding: 25px 0 0;
  }
}


.navigation__item {
  width: 100%;
  margin: 5px 10px 5px 0;

  font-size: 28px;
}

.navigation__link {
  padding: 0 5px;

  text-transform: uppercase;
  text-decoration: none;
  color: $color-white-black;

  &:hover {
    background-color: $color-black;
    color: $color-white;
  }

  &--active,
  &--active:hover {
    background: $color-white;
    color: $color-black;
  }
}

.navigation__button {
  position: absolute;
  z-index: 99;
  top: 20px;
  right: 30px;
  width: 40px;
  height: 40px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  .navigation__burger {
    position: absolute;
    font-size: 0;
    width: 40px;
    height: 3px;
    background: $color-white;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 40px;
      height: 3px;
      background: $color-white;
    }

    &::before {
      top: -10px;
    }

    &::after {
      bottom: -10px;
    }
  }

  &--open .navigation__burger {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }

  &--nojs {
    display: none;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .navigation {
    padding-top: 20px;
    margin-bottom: 5px;
  }

  .navigation__list {
    max-height: 200px;
    flex-direction: row;
  }

  .navigation__item {
    width: auto;
  }

  .navigation__button {
    display: none;
  }
}
