.navigation {
  padding-top: 20px;

  display: block;

  .navigation__button svg:first-child {
    display: none;
  }

  .navigation__button svg:last-child {
    display: block;
  }

  .navigation__menu {
    display: block;
  }

  &--closed {
    position: absolute;
    z-index: 1;
    background-color: rgba($color-black, 0.5);

    .navigation__button svg:first-child {
      display: block;
    }

    .navigation__button svg:last-child {
      display: none;
    }

    .navigation__menu {
      display: none;
    }
  }
}

.navigation--no-js {

  position: static;

  background-color: $color-grey;

  .navigation__button {

    display: none;
  }

  .navigation__menu {

    display: block;
  }
}

.navigation__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 20px;
}

.navigation__item {
  margin-right: 10px;
  margin-bottom: 10px;

  font-size: 28px;
}

.navigation__link {
  text-transform: uppercase;
  text-decoration: none;
  color: $color-black;
  padding: 5px 5px 3px;

  &:hover {
    background-color: $color-black;
    color: $color-white;
  }
}

//

//.navigation--no-js {
//
//  position: static;
//
//  background-color: $grey;
//
//  .navigation__button {
//
//    display: none;
//  }
//
//  .navigation__menu {
//
//    display: block;
//  }
//}
//
//.navigation__controls {
//  @include clear-fix;
//  @include container;
//
//  padding-top: 20px;
//  padding-bottom: 16px;
//}
//
//.navigation__logo {
//
//  float: left;
//
//  padding: 1px 0;
//}
//
//.navigation__button {
//
//  float: right;
//
//  cursor: pointer;
//
//  fill: $white;
//
//  &:hover {
//    fill: $red;
//  }
//
//  &:active {
//    fill: rgba($red, 0.3);
//  }
//}
//
//.navigation__menu {
//  @include bold-text;
//
//  width: 100%;
//  padding-top: 4px;
//
//  text-transform: uppercase;
//}
//
//.navigation__list {
//  @include drop-list;
//
//  text-align: center;
//}
//
//.navigation__item {
//
//  box-sizing: border-box;
//  margin: 0;
//  padding: 0;
//
//  border-top: solid #485461 thin;
//
//  border-bottom: solid black thin;
//}
//
//.navigation__item a {
//
//  display: block;
//
//  padding: 15px 0;
//
//  text-decoration: none;
//
//  color: $white;
//
//  &:hover {
//    color: $red;
//  }
//
//  &:active {
//    color: rgba($red, 0.3);
//  }
//}
//
//@media #{$tablet-width} {
//  .navigation {
//
//    position: absolute;
//    z-index: 1;
//  }
//
//  .navigation--no-js {
//
//    position: static;
//  }
//
//  .navigation__controls {
//    padding-bottom: 32px;
//  }
//
//  .navigation__logo {
//    padding: 2px 0;
//
//    img {
//      width: 148px;
//      height: 48px;
//    }
//  }
//
//  .navigation__button {
//    margin-top: 24px;
//  }
//}
//
//@media #{$desktop-width} {
//  .navigation {
//
//    position: absolute;
//    z-index: 1;
//
//    width: 100%;
//
//    background-color: rgba($black, 0.5);
//
//    &--closed .navigation__menu {
//
//      display: block;
//    }
//  }
//
//  .navigation__wrapper {
//    @include container;
//
//    display: flex;
//
//    flex-direction: row;
//
//    flex-wrap: nowrap;
//
//    align-items: center;
//  }
//
//  .navigation__controls {
//
//    width: auto;
//
//    flex-grow: 1;
//  }
//
//  .navigation__button {
//
//    display: none;
//  }
//
//  .navigation__menu {
//    @include regular-text(18px);
//
//    position: static;
//
//    display: block;
//
//    width: auto;
//    padding-top: 0;
//
//    text-transform: capitalize;
//
//    background: none;
//  }
//
//  .navigation__list {
//
//    display: flex;
//
//    flex-wrap: wrap;
//
//    justify-content: space-between;
//  }
//
//  .navigation__item {
//    margin-left: 80px;
//
//    border: none;
//  }
//}
//
//*/
