$white-background: #cccccca6;

.news {
  padding: 0;
  margin: 0;

  list-style: none;
}

.news__item {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 20px;

  background-color: $transparent-background;
  color: $color-white;

  &::after {
    content: "Om WiFi 👁‍🗨";
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px 5px 1px;
    background: $white-background;
    color: $color-black;
  }
}

.news__header {
  position: relative;
}

.news__img {
  max-width: 100%;
  object-fit: contain;
}

.news__date {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: -10px;
  padding: 5px 10px;
  background: $color-black;

  font-size: 20px;
  font-style: italic;
}

.news__main {
  line-height: 1.5;

  padding: 10px;
  color: $color-white;
}

.news__title {
  margin: 0;
}

.news__text {
  margin: 5px 0;

  p {
    margin: 0;
  }
}


.news__links {
  padding: 5px 10px;
  width: 100%;
  background: $white-background;
  color: $color-black;

  overflow: hidden;
  text-overflow: ellipsis;

  a {
    color: #2c2c6e;
  }

  p {
    margin: 0;
  }
}

@media screen and (min-width: $tablet-breakpoint) {
  .news__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 50px;
    margin-bottom: 30px;
  }

  .news__header {
    width: 40%;
  }

  .news__main {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
