@mixin container {
  padding: 0 20px;

  @media screen and (min-width: $tablet-breakpoint) {
    padding: 0 40px;
  }

  @media screen and (min-width: $mid-desktop-breakpoint) {
    padding: 0 100px;
  }

  @media screen and (min-width: $big-desktop-breakpoint) {
    width: 1400px;
    margin: 0 auto;
  }
}

@mixin clear-fix {
  &::after {
    display: table;
    clear: both;

    content: "";
  }
}
