html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  color: $color-white;
  background: $color-white;
  text-shadow: none;
}

body {
  min-width: 300px;
  min-height: 100vh;
  background-color: $color-white;
  background-image: url("../img/pattern-4.jpg");
  background-position: top right;
  background-repeat: repeat;
  font-size: 16px;
  font-family: $primary-font-family;
  font-weight: 500;
  color: $color-white-black;
  -webkit-font-smoothing: antialiased;
  //noinspection CssUnknownProperty
  -moz-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 30px 0;
  font-weight: normal;
}

// @media screen and (min-width: $mid-desktop-breakpoint){
//   body {
//     font-size: 18px;
//   }
// }
