$color-white: #ffffff;
$color-black: #000000;
$color-white-black: #cccccc;
$color-grey: #222222;

$primary-font-family: "Helvetica", "Arial", sans-serif;

$big-desktop-breakpoint: 1440px;
$mid-desktop-breakpoint: 1100px;
$tablet-breakpoint: 768px;
$big-mobile-breakpoint: 640px;
$mid-mobile-breakpoint: 500px;
