@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: normal;
  src: local("AvenirNextCyr-Regular"), url("AvenirNext/AvenirNextCyr-Regular.woff") format("woff");
}

$color-white: #ffffff;
$color-black: #000000;
$color-white-black: #cccccc;
$color-grey: #222222;

$primary-font-family: "Avenir Next", "Helvetica", "Arial", sans-serif;

$big-desktop-breakpoint: 1441px;
$mid-desktop-breakpoint: 1025px;
$tablet-breakpoint: 769px;
$big-mobile-breakpoint: 641px;
$mid-mobile-breakpoint: 501px;
