extends ../layout
include ../mixins/header

block header
  +header('Artists')
block main
  ul.artists
    each artist in artists
      li.artists__item
        a.artists__link(href=artist.href || 'page-in-progress.html')
          img.artists__img(src=artist.photo alt=artist.nickname width='300' height='400')
        h2.artists__title= artist.nickname
