extends ../layout
include ../mixins/header

block header
  +header('Artists')
block main
  ul.grid
    each artist in artists
      li.grid__item
        a.grid__link(href=artist.href || 'page-in-progress.html')
          img.grid__img.grid__img--rect(src=artist.photo alt=artist.nickname width='300' height='400')
          h2.grid__title= artist.nickname
